.chatSection {
    flex-grow: 1;
    height: 100hv;
}

.chatHeader {
    position: relative;
    display: flex;
    // flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--main-br-col);

}

.colocutor {
    display: flex;
    align-items: center;
    // margin-right: 40px;
    font-size: 25px;
    font-weight: 600;
    color: var(--main-bg-col);
}

.chatField {
    height: calc(100vh - 110px);
    padding: 15px 0;
    background-image: url('../../images/chat-wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    
}


